<div class ='section'>
    <div class="d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h4 class="mb-4 title">Testimonials</h4>
      </div>
    </div>
  
    <div class="d-flex text-center justify-content-center">
      <div class="col-md-4 mb-5 mb-md-0 mx-3 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #9d789b;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="assets/images/Avni.jpeg"
              class="rounded-circle img-fluid" />
          </div>
          <div class="card-body">
            <h4>Avni Goswami</h4>
            <p class="mb-4">Senior UX/UI Designer, MSys Technologies</p>
            <hr />
            <p class="text mt-4">
              <i class="fas fa-quote-left pe-2"></i>Amber approaches coding as more than just a job; it is a way of life for him. His dedication to his craft shines through in his work, consistently delivering products of the highest quality while adhering to industry standards and best practices. I had the pleasure of witnessing Amber's skills firsthand when he successfully completed a project for me. His techniques and problem-solving abilities left me thoroughly impressed.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #7a81a8;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="assets/images/Anuj.jfif"
              class="rounded-circle img-fluid"  />
          </div>
          <div class="card-body">
            <h4 >Anuj Sharma</h4>
            <p class="mb-4">Full Stack Developer, Cybrain Software Solutions</p>
            <hr />
            <p class="text mt-4">
              <i class="fas fa-quote-left pe-2"></i>Amber is an extraordinary talent, demonstrating remarkable creativity, innovation, and a strong sense of responsibility in his work. He approaches coding with a true passion and commitment, constantly seeking to improve and make projects of the highest quality while adhering to industry standards and best practices.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>