<div class="section">
    <div class="container">
        <h1 class="title">Project Showcase</h1>
        <div class="row">

            <div class="col-lg-4 col-md-6 my-3 ">
                <div class="card project-card ">
                    <div class="avatar mx-auto bg-white">
                        <img src="assets/images/Chatbot.jpg" class="card-img-top img-fluid pt-2" />
                    </div>
                    <div class="card-body">
                        <div class="justified-list">
                            <h5 class="card-title">RASA Chatbot
                            </h5>
                            <ul>
                                <li>Working on developing Chatbot using RASA Framework and using various NLU/NLP Techniques for accurate model developemnt.</li>
                                <li>Interating LLM API's(GPT,BERT) in the project to enhance the functionality. </li>
                                <li>Working on both backend part for chatbot development and frontend part for Bot ui and admin pannel development.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 my-3 ">
                <div class="card project-card ">
                    <div class="avatar mx-auto bg-white">
                        <img src="assets/images/analysis.jpg" class="card-img-top img-fluid pt-2" />
                    </div>
                    <div class="card-body">
                        <div class="justified-list">
                            <h5 class="card-title">Xth CBSE Result Data Extraction with Frontend & Backend Interface
                            </h5>
                            <ul>
                                <li>Developed a web interface with FastAPI for backend and Angular for frontend
                                    technology which eliminates the need of txt to excel conversion of Xth CBSE Result
                                    file.</li>
                                <li>For extracting all the important key-value pairs, various advanced ReGex
                                    combinations are developed.</li>
                                <li>Made API’s to interact with PostgreSQL database and called in the frontend to fetch
                                    data and show interactive listing.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 my-3">
                <div class="card project-card ">
                    <div class="avatar mx-auto bg-white">
                        <img src="assets/images/physio.jpg" class="card-img-top img-fluid pt-2" />
                    </div>
                    <div class="card-body">
                        <div class="justified-list">
                            <h5 class="card-title">Physical therapy rehab monitoring system for leg muscles injury</h5>
                            <ul>
                                <li>Developed an open CV based physiotherapy monitoring system integrated with EMG
                                    signal
                                    through raspberry pi pico using micro-python (on Thonny) for muscle recovery
                                    monitoring.

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 my-3">
                <div class="card project-card">
                    <div class="avatar mx-auto bg-white">
                        <img src="assets/images/Signals.jpg" class="card-img-top img-fluid pt-2" />
                    </div>
                    <div class="card-body">
                        <div class="justified-list">
                            <h5 class="card-title">EEG Motor-imagery signal analysis and classification</h5>
                            <ul>
                                <li>Gathered and corrected data to create EEG motor imagery prediction model and prepared a pipeline for processing and feature extraction of EEG data using MNE-python.</li>
                                <li>Worked on various classification models for motor imagery task prediction.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 my-3">
                <div class="card project-card">
                    <div class="avatar mx-auto bg-white">
                        <img src="assets/images/API.jpg" class="card-img-top img-fluid pt-2" />
                    </div>
                    <div class="card-body">
                        <div class="justified-list">
                            <h5 class="card-title">User-Blog-Backend</h5>
                            <ul>
                                <li>Backend Project with developed APIs for users and their blogs with all the CRUD operations. Proper JWT authentication and authorization to protect the APIs.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>