<div class="section" id="skills">
  <div class="container">
    <div class="h4 text-center mb-4 title">Technical Skills</div>
    <!-- <div class="card_main"> -->
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4>Languages</h4>
            </div>
            <div class="card-b">
              <ul>
                <li>Python</li>
                <li>Javascript</li>
                <li>TypeScript</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4>Backend</h4>
            </div>
            <div class="card-b">
              <ul>
                <li>FastAPI</li>
                <li>Django</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4>Frontend</h4>
            </div>
            <div class="card-b">
              <ul>
                <li>Angular</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4>Database</h4>
            </div>
            <div class="card-b">
              <ul>
                <li>PostgreSQL</li>
                <li>MySQL</li>
                <li>SQL Server Management Studio</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4>Designing</h4>
            </div>
            <div class="card-b">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4>Data Science</h4>
            </div>
            <div class="card-b">
              <ul>
                <li>AI</li>
                <li>ML/DL</li>
                <li>NLP</li>
                <li>OpenCV</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4>Data Analysis</h4>
            </div>
            <div class="card-b">
              <ul>
                <li>Microsoft Power BI</li>
                <li>Microsoft Excel</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4>Others</h4>
            </div>
            <div class="card-b">
              <ul>
                <li>Git</li>
                <li>AWS</li>
                <li>Docker</li>
                <li>RegEX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->