<div class="section">
  <div class="d-flex text-center justify-content-center">
    <div class=" d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="avatar mx-auto bg-white">
          <img src="assets/images/Amber.jfif" class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h4>Amber Goswami</h4>
          <p class="mb-4">Software Developer</p>
          <div class="social-links">
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container pt-4">
    <div class="card">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 title">About</div>
            <div class="justified-list">
              <ul>
                <li>Designing and developing websites using FastAPI for Backend and Angular for Frontend.</li>
                <li>Experienced with Multitenancy where multiple independent instances operate in a shared environment.
                </li>
                <li>Good knowledge in HTML, CSS, jQuery and JavaScript as well as Typescript.</li>
                <li>Experienced with Relational Data-bases like PostgreSQL, MySQL, SQL Server Management Studio.</li>
                <li>Skilled in Data Science, Data Analysis, Machine Learning, Deep Learning and Computer Vision.</li>
                <li>Familiar with Django for Backend and non relational Database like Mongo-DB.</li>
              </ul>
            </div>
            <p></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 ">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">24<sup>th</sup> September 2001</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">ambergoswami9@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+91-9877991096</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">#758, Pocket-1, Silver Birch, Omaxe City, New Chandigarh, Punjab, Pincode:140901
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">Hindi, English</div>
            </div>
          </div>
        </div>
      </div>
      <div class="social-links">
        <i class="fab fa-python fa-lg mx-2"></i>
        <i class="fab fa-js fa-lg mx-2"></i>
        <i class="fab fa-angular fa-lg mx-2"></i>
        <i class="fas fa-database fa-lg mx-2"></i>
        <i class="fab fa-html5 fa-lg mx-2"></i>
        <i class="fab fa-css3-alt fa-lg mx-2"></i>
        <i class="fab fa-bootstrap fa-lg mx-2"></i>
        <i class="fab fa-docker fa-lg mx-2"></i>

      </div>
    </div>

  </div>