<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2019 - 2023</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">B.tech. Biomedical & Computational Engineering</div>
            <h4 class="category">Thapar Institute of Engineering and Technology, Patiala
            </h4>
            <ul>
              <li>CGPA: 8.96/10.0</li>
              <li>Awarded Scholarship for the year 2021–22 from the college.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2019</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">All India Senior School Certificate Examination (XII) </div>
            <h4 class="category">Bal Niketan Public School, Chandigarh
            </h4>
            <ul>
              <li>
                Performance: 85.2%
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">All India Senior School Certificate Examination (X) </div>
            <h4 class="category">KB DAV Senior Secondary Public School, Chandigarh
            </h4>
            <ul>
              <li>CGPA: 10.0/10.0
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>