.footer {
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding-top: 20px; 
    padding-bottom: 20px; 
    height: 10vh;
  }
  
  /* .footer .container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
   */
  .footer a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 20px;
  }
  
  .footer a:hover {
    color: #007bff;
  }
  
  .footer .text-muted {
    font-size: 14px;
  }
  